body {
    font: 100% Lucida Sans, Verdana;
    margin: 20px;
    line-height: 26px;
    background-image: url("https://s3.freefoto.com/images/9912/01/9912_01_234_web.jpg");
}

.wrapper {
    position: relative;
    overflow: auto;
}

#top, #sidebar, #bottom, .menuitem {
    border-radius: 4px;
    margin: 12px;
}

#top {
    background-color: #0000ff;
    color: #80ffff;
    padding: 15px;
}

#menubar {
    width: 400px;
    float: left;
    padding: 0px;
}

#main {
    padding: 10px;
    margin: 0 210px;
    color: white;
}

#sidebar {
    background-color: #32a4e7;
    color: #80ffff;
    padding: 10px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#bottom {
    border: 1px solid #d4d4d4;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    font-size: 70%;
    line-height: 14px;
}

#top h1, #top p, #menulist {
    margin: 0;
    padding: 0;
}

.menuitem {
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    list-style-type: none;
    padding: 0px;
    cursor: pointer;
    background-color:#80ffff;
}

.menuitem:hover {
    background-color: #ffffff;
}

.menuitem:first-child {
   background-color:#0000ff;
   color: white;
   font-weight:bold;
}

a {
    color: #ffffff;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

li a {
    text-decoration: none;
}