body {
    font-family: Arial;
    background-color: #ffff00;
    line-height: 20px;
    background-image: url("https://vignette.wikia.nocookie.net/youtubepoop/images/f/f7/5Pikachu.png/revision/latest?cb=20141108062013");
}

.wrapper {
    position: relative;
    overflow: auto;
}

#top {
    color: #000000;
    padding: 15px;
    font-size: 30px;
    line-height: 26px;    
}

#top h1 {
    margin:0;
    line-height: 50px;
}

#menubar {
    width: 190px;
    float: right;
}

#main {
    padding: 10px;
    font: 80% Verdana;
}

#main h1, #main h2 {
    color: #000000;
}

#sidebar {
    background-color: #f1f479;
    color: #000000;
    padding: 10px;
}

#bottom {
    text-align: center;
    padding: 10px;
    font-size: 70%;
    color: #000000;
}

#menulist {
    padding:0;
    font: 16px verdana;
}

.menuitem {
    width: 155px;
    background-color: #ffff00;
    border: 1px solid #ffff00;
    border-radius: 40px;
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.menuitem a {
    color: #000000;
}

.menuitem:nth-child(2) {
   background-color:#000000;
}

.menuitem:nth-child(2) a {
	color: #ffff00;
	font-weight: bold;
}

.menuitem:hover {
    background-color: #ffffff;
}

.menuitem a:hover {
	color: #000000;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#bottom a {
	color: #000000;
}